.label {
    -fx-font-size: 12px;
    -fx-min-width: 30px;
    -fx-max-width: 70px;
    -fx-text-fill: #333333;
    -fx-padding: 3 3 3 3;
}
.text-field {
    -fx-padding: 4 4 4 4;
}

.grid {
    -fx-background-color: #ff1800;
    -fx-hgap: 10;
    -fx-vgap: 10;

}

.button {
    -fx-background-color: red;
}