.label {
    -fx-font-size: 12px;
    -fx-min-width: 30px;
    -fx-max-width: 70px;
    -fx-text-fill: #333333;
    -fx-padding: 3 3 3 3;
}
.text-field {
    -fx-padding: 4 4 4 4;
}

.grid {
    -fx-background-color: red;
    -fx-hgap: 10;
    -fx-vgap: 10;

}

.saveButton {
    -fx-background-image:  url("headerPicture/saveIcon.png");
    -fx-image-size:20px;

}
.addButton {
    -fx-background-image:  url("headerPicture/addIcon.png");
}
.deleteButton {
    -fx-background-image:  url("headerPicture/deleteIcon.png");

}
.backButton {
    -fx-background-image:  url("headerPicture/backIcon.png");

}
.forwardButton {
    -fx-background-image:  url("headerPicture/forwardIcon.png");

}